
<!--

<p class="title is-4">Meine angebotenen Dienste</p>
<div class="card" *ngFor="let dienst of angeboteneDienste | async">
  <header class="card-header">
    <p class="card-header-title">{{dienst.name}}</p>
    <a class="card-header-icon" aria-label="more options" (click)="changeFormat()">
      <fa-icon [icon]="moreIcon"></fa-icon>
    </a>
  </header>
  <div *ngIf="longFormat">
    <div class="card-content">
      {{dienst.beschreibung}}
    </div>
    <footer class="card-footer">
      <a class="card-footer-item">Bearbeiten</a>
      <a class="card-footer-item">Löschen</a>
    </footer>
  </div>
</div>

-->

<h3>Meine angebotenen Dienste</h3>
<table class='table'>
  <thead>
  <tr>
    <th>Kategorie</th>
    <th>Titel</th>
    <th>Beschreibung</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dienst of angeboteneDienste | async">
    <td>{{dienst.kategorieTitel}}</td>
    <td>{{dienst.name}}</td>
    <td>{{dienst.beschreibung}}</td>
    <td> <button class="button is-primary  is-outlined"
                 (click)=bearbeiten(dienst.id_dienstangebot)
        >
      <fa-icon [icon]="editIcon"></fa-icon>
    </button>



    </td>
  </tr>
  </tbody>
</table>
<button class="button is-primary "  (click)=neuenDienstErstellen()>
  <fa-icon [icon]="createIcon"></fa-icon> &nbsp; Neuen Dienst erstellen
</button>
<br>
<br>
<app-bearbeite-dienst [chosenDienst]="chosenDienst" *ngIf="zeigeBearbeitenOverlay" (onCloseEvent)="updateDiensteOnEvent()"></app-bearbeite-dienst>
<app-erstelle-dienst *ngIf="zeigeErstellenOverlay" (onCloseEvent)="updateDiensteOnEvent()"></app-erstelle-dienst>

