<div class="box">
    <p class="title is-4">Gewonnene Bonusprogramme</p>
    <div class="outer">
        <table class='table is-striped'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Preis</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bonusprogramm of bonusBenachrichtigung | async">
                    <td>{{bonusprogramm.titel_bonusprogramm}}</td>
                    <td>{{bonusprogramm.nachricht}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
