<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Profil bearbeiten:</p>
        <button class="delete" aria-label="close" (click)="cancel()"></button>
      </header>
      <form [formGroup]="bearbeitungsForm" (ngSubmit)="speichern(bearbeitungsForm.value)">
        <section class="modal-card-body">
            <div class="field">
                <p class="control has-icons-left">
                  <fa-icon class="icon" [icon]="emailIcon"></fa-icon>
                  <input class="input" type="text" placeholder="Email" formControlName="email">
                </p>
              </div>
              <div class="field has-addons">
                <p class="control has-icons-left has-icons-right">
                  <fa-icon class="icon" [icon]="passwordIcon"></fa-icon>
                  <input class="input" [type]="fieldTextType ? 'text' : 'password'" placeholder="Passwort" formControlName="passwort">
                </p>
                <div class="control">
                    <fa-icon class="button" [icon]="eyeIcon" (click)="togglePasswort()"></fa-icon>
                </div>
              </div>
              
              
              <div class="field has-text-danger">{{message}}</div>
            </section>
      
            <footer class="modal-card-foot">
              <div class="field">
                <p class="control">
                  <button class="button is-success" type="submit">Speichern</button>
                  <button class="button is-danger" type="reset" (click)="cancel()">Abbrechen</button>
                </p>
              </div>
            </footer>
          </form>

    </div>
</div>