.banner {
    height: 300px;
    width: 100%;
    background-color: lightgoldenrodyellow;
}

.is-overlay {
    position: fixed;
    top: 8%;
    bottom: 85%;
    left: 60%;
    z-index: 1;
}

.is-center {
    align-items: center;
    margin: 0;
    width: 70%;
}

.hero-foot {
    text-align: -webkit-center;
}

@media screen and (min-width: 769px), print {
    .hero.is-medium .hero-body {
        padding: 9rem 1.5rem 3rem 1.5rem;
    }
  }

.box {
    background-color: #2e87c2;
    height: 100%;
}

.box svg circle {
    stroke-width: 1%;
}

.icon {
    align-items: baseline;
}

.editIcon {
    margin-right: 3%;
}

.container {
    text-align: center;
}

.ausgrauen {
    color: lightgray;
}

strong {
    color: white;
    font-size: 200%;
}

.image {
    background-image: url(../../../assets/Pictures/startBannerGroß.jpeg);
    background-size: cover;
    height: 500px;
}

