<section class="hero is-medium is-bold" [ngClass]="isLoggedIn() ? 'is-info' : 'image' ">
  <div class="hero-body">
    <div class="container">
      <div *ngIf="!isLoggedIn()">
        <p class="title is-1">Willkommen Bürger</p>
      </div>

      <div *ngIf="isLoggedIn()">
        <div class="columns">
          
          <div class="column is-1" *ngIf="nutzer.typ === 'Suchender' || nutzer.typ === 'Aeltester'"></div>

          <div class="column is-3">
            <div class="box">
              <p class="title is-3">
                <fa-icon class="editIcon" [icon]="userIcon"></fa-icon>
                {{nutzer.benutzername}}
              </p>
              <p class="subtitle is-6"><i>{{nutzer.email_adresse}}</i></p>
              <button class="button left is-light is-outlined"
              (click)=bearbeiten()>
              <fa-icon class="editIcon" [icon]="editIcon"></fa-icon> Profil bearbeiten
            </button>
            </div>
          </div>
          <div class="column is-3"></div>

          <div class="column is-2" *ngIf="nutzer.typ === 'Tugendhafter'">
            <div class="box">
              <div class="container">
                <fa-icon class="icon fa-5x has-text-dark" [icon]="piggyIcon"></fa-icon>
                <p class="title-1"><strong>{{nutzer.social_score}}</strong></p>
                <p class="has-text-light subtitle-5">Social Score</p>
              </div>
            </div>
          </div>
          <div class="column is-2" *ngIf="nutzer.typ === 'Tugendhafter'">
            <div class="box">
              <div class="container">
                  <fa-icon class="icon fa-5x has-text-dark" [icon]="handshakeIcon"></fa-icon>
                  <p class="title-1"><strong>{{dienstAnzahl}}</strong></p>
                  <p class="has-text-light subtitle-5">erfüllte Dienste</p>
              </div>
            </div>
          </div>
          <div class="column is-2" *ngIf="nutzer.typ === 'Tugendhafter'">
            <div class="box">
              <div class="container">
                <fa-icon class="icon fa-5x has-text-dark" [icon]="trophyIcon"></fa-icon>
                <p class="title-1"><strong>{{boniAnzahl}}</strong></p>
                <p class="has-text-light subtitle-5">erhaltene Boni</p>
              </div>
            </div>
          </div>
          
          
          <div class="column is-1" *ngIf="nutzer.typ === 'Aeltester'"></div>
          <div class="column is-2" *ngIf="nutzer.typ === 'Aeltester'">
            <div class="box">
              <div class="container">
                <fa-icon class="icon fa-5x has-text-dark" [icon]="trophyIcon"></fa-icon>
                <p class="title-1"><strong>{{tugendAnzahl}}</strong></p>
                <p class="has-text-light subtitle-5">erstellte Tugenden</p>
              </div>
            </div>
          </div>
          <div class="column is-2" *ngIf="nutzer.typ === 'Aeltester'">
            <div class="box">
              <div class="container">
                <fa-icon class="icon fa-5x has-text-dark" [icon]="trophyIcon"></fa-icon>
                <p class="title-1"><strong>{{boniAnzahl}}</strong></p>
                <p class="has-text-light subtitle-5">erstellte Bonusprogramme</p>
              </div>
            </div>
          </div>


          <div class="column is-1" *ngIf="nutzer.typ === 'Suchender'"></div>
          <div class="column is-2" *ngIf="nutzer.typ === 'Suchender'">
            <div class="box">
              <div class="container">
                <fa-icon class="icon fa-5x has-text-dark" [icon]="handshakeIcon"></fa-icon>
                <p class="title-1"><strong>{{gebuchteDienstAnzahl}}</strong></p>
                <p class="has-text-light subtitle-5">gebuchte Dienste</p>
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
        
  <div class="hero-foot">
    <div  *ngIf="isLoggedIn() && nutzer.typ === 'Tugendhafter'">
      <div class="content media is-center">
        <p class="media-left subtitle"><fa-icon class="icon" [icon]="awardIcon"></fa-icon>{{nutzer.status}}</p>
        <progress class="media-content progress is-small is-danger" value="{{nutzer.social_score}}" max="{{gesamt}}" style="margin-top: 1%;">15%</progress>
        <p class="media-right subtitle">/{{gesamt}}</p>
        <br>
      </div>
    </div>
    <!-- <div class="image" *ngIf="!isLoggedIn()">
    </div> -->
  </div>
</section>

<app-profil-bearbeiten *ngIf="willBearbeiten" (onClose)="this.willBearbeiten = false"></app-profil-bearbeiten>

<div class="is-overlay">
  <app-notification></app-notification>
</div>


