.banner {
    height: 300px;
    width: 100%;
    background-color: lightgoldenrodyellow;
}

.is-overlay {
    position: fixed;
    top: 8%;
    bottom: 85%;
    left: 60%;
    z-index: 1;
}

.box {
    width: 50%;
}

.media {
    width: 70%;
}

.hero-body {
    background-image: url(../../../assets/Pictures/teamworkBanner1.png);
    background-position: right;
    background-size: cover;

}

.hero.is-medium .hero-body {
    /* padding: 12rem 1.5rem 2rem 1.5rem; */
}
/* 
.icon {
    margin-right: 2%;
} */

/* .hero-body,
.hero.is-medium {
    padding: 9rem 1.5rem 2rem 1.5rem;
} */