<div class="section searchBar control media">
  <div class="select media-left">
    <select name="kategorien" [(ngModel)]='kategorieID'  (ngModelChange)='onKategorieSelected($event)'>
      <option value="-1">
        Alle
      </option>
      <option  *ngFor="let kategorie of kategorienListe | async" value="{{ kategorie.id_kategorie }}">
        {{ kategorie.bezeichnung }}
      </option>
    </select>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="suchen(searchForm.value)">
    <div class="field has-addons">
      <div class="control">
        <input class="form-control input media-content" type="text" placeholder="Suchen..." formControlName="searchInput">
      </div>
      <div class="control">
        <button class="button is-info" type="submit">
          <fa-icon class="editIcon" [icon]="searchIcon"></fa-icon>
        </button>
      </div>
    </div>
  </form>
  
</div>
  
<div class="searchResult" *ngFor="let dienst of dienste | async">
  <div class="section is-paddingless-horizontal container-grid" style="padding-top: 0;">
    <div class="notification media"> 
      <figure class="media-left image is-96x96">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
        <div class="media-content">
        <h3><strong>DIENST:</strong> {{dienst.name}}</h3>
        <h4>Angeboten von: {{dienst.tugendhafterName}}</h4>
        <h4>Beschreibung: {{dienst.beschreibung}}</h4>
      </div>
      <div *ngIf= "!isTyp('Aeltester')" [hidden]="isDienstVon(dienst.tugendhafterName)" class="media-right">
        <button class="button is-primary" (click)=buchen(dienst.id_dienstangebot)>Anfragen</button> 
      </div>
    </div>
  </div>
</div>

<app-dienst-buchen [chosenDienst] = "chosenDienst" *ngIf="willBuchen" (onClose)="willBuchen = false"></app-dienst-buchen>

  