
<div *ngFor="let dienst of angefragteDienste | async">
    <div class="section" style="padding-top: 0;">
        <div class="message is-info" >
            <div class="message-header">
                <p class="messageTitle">Neue Dienst-Anfrage:</p>
            </div>
            <div class="message-body">
                <p><strong>{{dienst.suchenderName}}</strong> möchte deinen angebotenen Dienst <strong>"{{dienst.name}}"</strong> buchen.</p>
                <br>
                <button class="button is-success" (click)="antragAnnehmen(dienst.id_dienstvertrag)">Bestätigen</button>
                <button class="button is-danger"  (click)="antragAblehnen(dienst.id_dienstvertrag)">Ablehnen</button>
            </div>
        </div>
    </div>
</div>