<!--
<hr>
Test Observer
  <div  *ngIf='nutzer !== undefined' >
    <div >{{  nutzer.benutzername }} </div>
  </div>
<hr>
-->

<!---  --->
<div *ngIf="isTyp('Tugendhafter')">
  <app-bonusprogramm-benachrichtigungen class="section" *ngIf="erhaeltBonus" [bonusProgramme] = betroffeneProgramme></app-bonusprogramm-benachrichtigungen>
  <app-dienst-anfragen class="section" *ngIf="hatAngefragteDienste" [angefragteDienste] = angefragteDiensteObservable></app-dienst-anfragen>

  <div class="tabs is-boxed is-centered is-medium">
    <ul>
      <li [ngClass]="{'is-active' : type == 'tugenden'}">
        <a (click)="changeType('tugenden')">Tugenden</a>
      </li>
      <li [ngClass]="{'is-active' : type == 'dienste'}">
        <a (click)="changeType('dienste')">Dienste</a>
      </li>
      <li [ngClass]="{'is-active' : type == 'bonus'}">
        <a (click)="changeType('bonus')">Bonusprogramme</a>
      </li>
    </ul>
  </div>

  <div>
    <div *ngIf="type === 'tugenden'">
      <div class="section"><app-todo-tugenden-taetigkeiten></app-todo-tugenden-taetigkeiten></div>
      <div class="section"><app-erfuellte-tugenden></app-erfuellte-tugenden></div>
    </div>
    <div *ngIf="type === 'dienste'">
      <div class="section"><app-angebotene-dienste></app-angebotene-dienste></div>
      <div class="section"><app-geplante-dienste></app-geplante-dienste></div>
      <div class="section"><app-erledigte-dienste></app-erledigte-dienste></div>
      <div class="section"><app-gebuchte-dienste></app-gebuchte-dienste></div>
      <div class="section"><app-angefragte-dienste></app-angefragte-dienste></div>
    </div>
    <div *ngIf="type === 'bonus'">
      <div class="section"><app-gewonnene-bonusprogramme></app-gewonnene-bonusprogramme></div>
    </div>
  </div>
</div>


<div *ngIf= "isTyp('Suchender')">
  <button class="button is-danger unlock" (click)="unlockTugendhafter()">
    <fa-icon class="lock" [icon]="unlockIcon"></fa-icon> Schalte jetzt deinen inneren Tugendhaften frei!
  </button>
  <div class="section"><app-gebuchte-dienste></app-gebuchte-dienste></div>  
  <div class="section"><app-angefragte-dienste></app-angefragte-dienste></div> 
  
  <app-tugendhaften-freischalten *ngIf="willFreischalten" (onClose)="willFreischalten = false"></app-tugendhaften-freischalten>
  
</div>
<div *ngIf= "isTyp('Aeltester')" class="section">
  <!--- <app-erstelle-tugend></app-erstelle-tugend> --->  
  <div class="section"><app-erstellte-bonusprogramme></app-erstellte-bonusprogramme></div>  
  <div class="section"><app-erstellte-tugenden></app-erstellte-tugenden></div>
  <div class="section"><app-erstellte-kategorien></app-erstellte-kategorien></div>
  <div class="section"><app-liste-aller-tugendhaften></app-liste-aller-tugendhaften></div>
</div>

