<hr>
Test Observer
  <div  *ngIf='nutzer !== undefined' >
    <div >{{  nutzer.benutzername }} </div>
  </div>
<hr>

<br>
<br>
<br>
<!---  --->
<div *ngIf="isTyp('Tugendhafter')">
  <div>
    <div (click)="changeType('tugenden')">Tugenden</div>
    <div (click)="changeType('dienste')">Dienste</div>
  </div>

  <div>
    <div *ngIf="type === 'tugenden'">
      <app-todo-tugenden></app-todo-tugenden>
      <app-erfuellte-tugenden></app-erfuellte-tugenden>
    </div>
    <div *ngIf="type === 'dienste'">
      <app-angebotene-dienste></app-angebotene-dienste>
      <app-geplante-dienste></app-geplante-dienste>
      <app-erledigte-dienste></app-erledigte-dienste>
    </div>
  </div>
</div>

<div *ngIf= "isTyp('Suchender')">
  <app-gebuchte-dienste></app-gebuchte-dienste>
  <app-angefragte-dienste></app-angefragte-dienste>
</div>
<div *ngIf= "isTyp('Aeltester')">
  <app-erstelle-tugend></app-erstelle-tugend>

  <label for="kategorien">Kategorie:</label>
  <select name="kategorien" id="kategorien">
    <option  *ngFor="let kategorie of kategorien | async" value=" {{ kategorie.id_kategorie }}">
      {{ kategorie.bezeichnung }}
    </option>
  </select>
</div>

<hr>
Todo: nach merge anpassen!
<hr>
<h1>Neue Tugend erstellen</h1>
<label for="kategorien">Kategorie:</label>
<select name="kategorien" id="kategorien">
  <option  *ngFor="let kategorie of kategorien | async" value=" {{ kategorie.id_kategorie }}">
    {{ kategorie.bezeichnung }}
  </option>
</select>
<br><br>

<label for="titel_neue_tugend">Titel:</label>
<input id="titel_neue_tugend">

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-left">
        Subscribe form component content modal overlay
      </div>
      <div class="column is-narrow">
        <button (click)="open(subscribeComponent)" class="button is-small is-primary">
          show
        </button>
      </div>
      <div class="column">
        <ng-container *ngIf="subscribeData">
          {{ subscribeData | json }}
        </ng-container>
      </div>
    </div>
  </div>
</div>
