<!--
<hr>
Test Observer
  <div  *ngIf='nutzer !== undefined' >
    <div >{{  nutzer.benutzername }} </div>
  </div>
<hr>
-->

<br>
<br>
<br>
<!---  --->
<div *ngIf="isTyp('Tugendhafter')">
  <div class="contentTabs">
    <a class="button is-primary leftButton" (click)="changeType('tugenden')">Tugenden</a>
    <a class="button is-danger rightButton" (click)="changeType('dienste')">Dienste</a>
  </div>

  <div class="seperator"></div>

  <div>
    <div *ngIf="type === 'tugenden'">
      <app-todo-tugenden></app-todo-tugenden>
      <app-erfuellte-tugenden></app-erfuellte-tugenden>
    </div>
    <div *ngIf="type === 'dienste'">
      <app-angebotene-dienste></app-angebotene-dienste>
      <app-geplante-dienste></app-geplante-dienste>
      <app-erledigte-dienste></app-erledigte-dienste>
    </div>
  </div>
</div>

<div *ngIf= "isTyp('Suchender')">
  <app-gebuchte-dienste></app-gebuchte-dienste>
  <app-angefragte-dienste></app-angefragte-dienste>
</div>
<div *ngIf= "isTyp('Aeltester')">
  <!--- <app-erstelle-tugend></app-erstelle-tugend> --->
  <app-erstellte-bonusprogramme></app-erstellte-bonusprogramme>
  <app-erstellte-tugenden></app-erstellte-tugenden>
  <h2>Liste aller Tugendhaften</h2>
  <div class="buergerListe">
    <div  *ngFor="let buerger of buergerListe | async">
      {{ buerger.benutzername }}
    </div>
  </div>

</div>

