

<div class="searchBar">
  <select name="kategorien" [(ngModel)]='kategorieID'  (ngModelChange)='onKategorieSelected($event)'>
    <option  *ngFor="let kategorie of kategorienListe | async" value=" {{ kategorie.id_kategorie }}">
      {{ kategorie.bezeichnung }}
    </option>
  </select>

  <form [formGroup]="searchForm" (ngSubmit)="(searchForm.value)">
    <input class="form-control" type="text" placeholder="Suchen..." formControlName="searchInput">
    
    <button class="searchBtn" type="submit">Suchen</button>
  </form>
  
</div>

<ul class="searchResult">
  <li class="tugendInfo" *ngFor="let tugend of tugenden | async">
    {{tugend.name}}
  </li> 
</ul>

<!--<div class="searchResult">
    <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Beschreibung</th>
          <th>Erstellt von</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tugend of tugendListe | filter:kategorie">
          <td>{{tugend.name}}</td>
          <td>{{tugend.beschreibung}}</td>
          <td>{{tugend.aeltesterID}}</td>
        </tr>
        </tbody>
      </table>
</div>-->
