
<form [formGroup]="dienstForm"   (ngSubmit)="buchen(dienstForm.value)">
    <h2>Dienst buchen</h2>
    <br>
    <h4>DIENST: {{dienst.name}}</h4>
    <h5>Angeboten von: {{dienst.tugendhafterID}}</h5>
    <h5>Beschreibung: {{dienst.beschreibung}}</h5>
    <br>
    <br>
    <label>Schlage ein Tag vor, an dem du den Dienst in Anspruch nehmen willst:</label>
    <input id="datumInput" type="date" placeholder="Datum" formControlName="datum">
    <button class="buchenBtn" type="submit">Buchen</button>
    <div id='fehlermeldungAnmeldung' [hidden]="fehler">
      <br>Bitte gib ein korrektes Datum ein.</div>
</form>