<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Dienst löschen</p>
        <button class="delete" aria-label="close" (click)="cancel()"></button>
      </header>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="dienstLoeschen(message)">Bestätigen</button>
        <button class="button is-danger" (click)="cancel()">Abbrechen</button>
      </footer>
    </div>
</div>