<!--
<form [formGroup]="registrierenForm"   (ngSubmit)="registrieren(registrierenForm.value)">
    <label>Benutzername:</label>
    <input id="benutzernameInput" type="text" placeholder="Benutzername" formControlName="benutzername">
    <label>Email:</label>
    <input class="emailInput" type="text" placeholder="Email" formControlName="email">
    <label>Passwort:</label>
    <input class="passwortInput" type="password" placeholder="Passwort" formControlName="passwort">
    <label>Passwort erneut eingeben:</label>
    <input class="passwortInput" type="password" placeholder="Passwort" formControlName="passwort2">
    <button class="registrierenBtn" type="submit">Registrieren</button>
    <div class='fehlermeldungAnmeldung' [hidden]="nutzer">
        <br>Der angegebener Benutzername exsistiert bereits!</div>
    <div class='fehlermeldungAnmeldung' [hidden]="passwort">
        <br>Die angegebenen Passwörter stimmen nicht überein!</div>
    <div class='fehlermeldungAnmeldung' [hidden]="email">
        <br>Die angegebene Email-Adresse ist leider falsch!</div>
</form>

-->

<div class="registrieren">
    <form [formGroup]="registrierenForm" (ngSubmit)="registrieren(registrierenForm.value)">
        <h2><strong>Registrieren</strong></h2>

        <br>

        <div class="control">
            <div class="select">
              <select (change)="changeType($event)">
                <option value="Tugendhafter">Tugendhafter</option>
                <option value="Suchender">Suchender</option>
                <option value="Aeltester">Ältester</option>
              </select>
            </div>
          </div>

          <br>

        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input id="benutzernameInput" class="input" type="text" placeholder="Benutzername" formControlName="benutzername">
          </p>
        </div>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input id="emailInput" class="input emailInput" type="text" placeholder="Email" formControlName="email">
            </p>
          </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input passwortInput" type="password" placeholder="Passwort" formControlName="passwort">
          </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
              <input class="input passwortInput" type="password" placeholder="Passwort" formControlName="passwort2">
            </p>
          </div>
        <div class="field">
          <p class="control">
            <button class="button is-success" type="submit">
              Registrieren
            </button>
          </p>
        </div>
        <div class='fehlermeldungAnmeldung' [hidden]="nutzer">
            <br>Der angegebener Benutzername exsistiert bereits!</div>
        <div class='fehlermeldungAnmeldung' [hidden]="passwort">
            <br>Die angegebenen Passwörter stimmen nicht überein!</div>
        <div class='fehlermeldungAnmeldung' [hidden]="email">
            <br>Die angegebene Email-Adresse ist leider falsch!</div>
    </form>
  </div>