<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Registrieren:</p>
      <button class="delete" aria-label="close" (click)="cancel()"></button>
    </header>
    <form [formGroup]="registrierenForm" (ngSubmit)="registrieren(registrierenForm.value)">
      <section class="modal-card-body">
        <div class="field">
          <div class="select">
            <select (change)="changeType($event)">
              <option value="Tugendhafter">Tugendhafter</option>
              <option value="Suchender">Suchender</option>
              <option value="Aeltester">Ältester</option>
            </select>
          </div>
        </div>
        <div *ngIf="requestedType === 'Aeltester'" class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Bestätigungscode" formControlName="code">
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <fa-icon class="icon" [icon]="userIcon"></fa-icon>
            <input id="benutzernameInput" class="input" type="text" placeholder="Benutzername" formControlName="benutzername">
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <fa-icon class="icon" [icon]="emailIcon"></fa-icon>
            <input id="emailInput" class="input emailInput" type="text" placeholder="Email" formControlName="email">
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <fa-icon class="icon" [icon]="passwordIcon"></fa-icon>
            <input class="input passwortInput" type="password" placeholder="Passwort" formControlName="passwort">
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <fa-icon class="icon" [icon]="passwordIcon"></fa-icon>
            <input class="input passwortInput" type="password" placeholder="Passwort" formControlName="passwort2">
          </p>
        </div>
        <div class='has-text-danger' [hidden]="nutzer">
          IMPOSTER! Wer bist du wirklich? Zweimal anmelden geht nicht!</div>
        <div class='has-text-danger' [hidden]="passwort">
          Passwörter eingeben müssen wir noch üben, ne?</div>
        <div class='has-text-danger' [hidden]="email">
          Email-Adressen eingeben müssen wir noch üben, ne?</div>
        <div class='has-text-danger' [hidden]="code">
          IMPOSTER! Gehörst du wirklich der ehrwürdigen Gemeinschaft der Ältesten an?</div>
      </section>
      <footer class="modal-card-foot">
        <div class="field">
          <p class="control">
            <button class="button is-success" type="submit">
              Registrieren
            </button>
            <button class="button is-danger" type="reset" (click)="cancel()">
              Abbrechen
            </button>
          </p>
        </div>
      </footer>
    </form>
  </div>
</div>