<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Neue Tugend erstellen:</p>
      <button class="delete" aria-label="close" (click)="cancel()"></button>
    </header>

<form [formGroup]="neueTugendForm"
      (ngSubmit)="speichern(neueTugendForm.value)">
  <section class="modal-card-body">


  <label for="kategorie">Kategorie:</label> &nbsp;

  <select  id="kategorie"  formControlName="kategorie">
    <option  *ngFor="let kategorie of kategorien | async" value="{{ kategorie.id_kategorie }}">
      {{ kategorie.bezeichnung }}
    </option>
  </select>



  <br><br>

  <label for="titel_neue_tugend">Titel:</label> &nbsp;
  <input id="titel_neue_tugend"  type="text" formControlName="titel">
  <br><br>

  <label for="punkte_neue_tugend">Punkte:</label> &nbsp;
  <input id="punkte_neue_tugend" type="number" formControlName="punkte">
  <br><br>

  <label for="wiederholungen_neue_tugend">Benötigte Wiederholungen:</label> &nbsp;
  <input id="wiederholungen_neue_tugend" type="number" formControlName="benoetigteWiederholungen">
  <br><br>

  <label for="beschreibung_neue_tugend">Beschreibung:</label> &nbsp;
  <textarea class="textarea" id="beschreibung_neue_tugend" type="text" formControlName="beschreibung"></textarea>
  <br><br>

  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" type="submit">Speichern</button>
    <button class="button is-danger" type="reset" (click)="cancel()">Abbrechen</button>
  </footer>
</form>

  </div>
</div>




