<p class="title is-4">Meine geplanten Dienste</p>
<div *ngFor="let dienst of geplanteDienste | async">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">{{dienst.name}}</p>
      <a class="card-header-icon" aria-label="more options" (click)="changeFormat()">
        <fa-icon [icon]="moreIcon"></fa-icon>
      </a>
    </header>
    <div *ngIf="longFormat">
      <div class="card-content">
        <p>Beschreibung: {{dienst.beschreibung}}</p>
        <p>Suchender <strong>{{dienst.suchenderName}}</strong> hat deinen Dienst für den <strong>{{dienst.datum | date}}</strong> gebucht</p>
      </div>
    </div>
  </div>
  <br>
</div>