
<div class="section searchBar control media is-grouped-centered">
  <div class="select control media-left">
    <select name="kategorien" [(ngModel)]='kategorieID'  (ngModelChange)='onKategorieSelected($event)'>
      <option value="-1">
        Alle
      </option>
      <option  *ngFor="let kategorie of kategorienListe | async" value="{{ kategorie.id_kategorie }}">
        {{ kategorie.bezeichnung }}
      </option>
    </select>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="suchen(searchForm.value)">
    <div class="field has-addons">
      <div class="control">
        <input class="form-control input media-content" type="text" placeholder="Suchen" formControlName="searchInput">
      </div>
      <div class="control">
        <button class="button is-info" type="submit">Suchen</button>
      </div>
    </div>
  </form>
</div>
  
  
  <div class="searchResult" *ngFor="let bonusprogramm of bonusprogramme | async">
    <div class="section is-paddingless-horizontal container-grid" style="padding-top: 0;">
      <div class="notification media">
        <figure class="media-left image is-96x96">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
        <div class="media-content">
          <h3><strong>BONUSPROGRAMM:</strong> {{bonusprogramm.titel}}</h3>
          <h4>Erstellt von: {{bonusprogramm.aeltersterName}}</h4>
          <h4>Beschreibung: {{bonusprogramm.nachricht}}</h4>
          <h4>Deine Belohung könnten {{bonusprogramm.punkte_in_kategorie}} Social Score Punkte sein!</h4>
        </div>
      </div>
    </div>
  </div>
  