<!-- NavBar -->
<header>
  
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      
      <a class="navbar-item has-text-danger is-size-4" routerLink="/" style="padding-left: 15%;"><fa-icon class="icon" [icon]="homeIcon"></fa-icon></a>
      <a class="navbar-item has-text-danger is-size-5" routerLink="/" style="padding-left: 20%;">FantasyScore</a>

      <a class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div class="navbar-menu">
      <div class="navbar-end ">
        <a *ngIf="!isLoggedIn" class="navbar-item has-text-danger" (click)="registrieren()">
          Registrieren
        </a>
        <a *ngIf="!isLoggedIn" class="navbar-item has-text-danger" (click)="login()">
          Anmelden
        </a>
        <a *ngIf="isLoggedIn" class="navbar-item has-text-danger" routerLink="/dashboard">
          <span *ngIf="hasMessage" class="badge">{{messageAmount}}</span>
          Dashboard
        </a>
        <a *ngIf="isLoggedIn" class="navbar-item has-text-danger" routerLink="/tugenden">
          Tugenden
        </a>
        <a *ngIf="isLoggedIn" class="navbar-item has-text-danger" routerLink="/dienste">
          Dienste
        </a>
        <a *ngIf="isLoggedIn" class="navbar-item has-text-danger" routerLink="/bonusprogramme">
          Bonusprogramme
        </a>

        <div *ngIf="isLoggedIn" class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-text-danger">
            {{nutzer.benutzername}}
          </a>
  
          <div class="navbar-dropdown">
            <a (click)="logout()" class="navbar-item has-text-danger">
              Abmelden
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<app-anmelden *ngIf="willAnmelden" (onClose)="willAnmelden = false"></app-anmelden>
<app-registrieren *ngIf="willRegistrieren" (onClose)="willRegistrieren = false"></app-registrieren>

<app-banner></app-banner>


<div class="container section">

  <router-outlet></router-outlet>
  
  <div *ngIf="!isLoggedIn" class="welcomeText">
    <p class="title is-1">Willkommen bei FANTASY SCORE <br></p>
    <p class="subtitle is-3">Deiner absurden Scoring Plattform für verrückte Tugenden und Dienste!</p>
    <p>Bei FANTASY SCORE kannst du als Tugendhafter loslegen und verschiedene Aufgaben, sogenannte Tugenden, erfüllen und somit deinen Social Score immer weiter verbessern, bis du ganz oben auf der Bestenliste stehst, die jedem unter die Nase gerieben wird.
      Zudem kannst du Dienste anbieten, mit denen du Suchenden und anderen Tugendhaften deine einzigartigen Fähigkeiten, wie zum Beispiel das reinigen der Hundeleine mit einer Zahnbürste,  präsentierst und anbietest. Suchende (und andere Tugendhafte) können deine Angebote nun buchen und nehmen deinen Dienst zu einem bestimmten Datum in Anspruch.
      Wenn du dich zunächst als Suchender registrierst wirst du schnell merken, dass dir die Tugenden fehlen, und natürlich kannst du, ohne deine gebuchten Dienste zu verlieren, dein Konto mit einem Knopfdruck upgraden und Punkte sammeln.
      </p>
  </div>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; 2020 <strong>Fantasy Score</strong>, Inc. All rights reserved.
    </p>
  </div>
</footer>

