

<!-- NavBar -->
<header>
  <div id="navBar">
    <ul>
      <li class="navHome"><a href="#" routerLink="/">FS</a></li>
      <li class="navHome"><a href="#" routerLink="/">FantasyScore</a></li>
    </ul>
    <nav>
      <ul>
        <li *ngIf="!isAuthorized"><a href="#" routerLink="/registrieren">Registrieren</a></li>
        <li *ngIf="!isAuthorized"><a href="#" routerLink="/login">Anmelden</a></li>
        <li *ngIf="isAuthorized"><a href="#" routerLink="/dashboard">Dashboard</a></li>
        <li *ngIf="isAuthorized"><a href="#" routerLink="/tugenden">Tugenden</a></li>
        <li *ngIf="isAuthorized"><a href="#" routerLink="/dienste">Dienste</a></li>
        <li *ngIf="isAuthorized"><a href="#" routerLink="/bonusprogramme">Bonusprogramme</a></li>
        <li *ngIf="isAuthorized">Username<a href="#" routerLink="/">Menü</a></li>
        <li *ngIf="isAuthorized"><a (click)="logout()">Abmelden</a></li>
      </ul>
    </nav>
  </div>
</header>

  <div class="container">
    <app-banner></app-banner>
    <router-outlet></router-outlet>
  </div>

