

<!-- NavBar -->
<header>
  <div id="navBar">
    <ul>
      <li class="navHome"><a href="#" routerLink="/">FS</a></li>
      <li class="navHome"><a href="#" routerLink="/">FantasyScore</a></li>
    </ul>
    <nav>
      <ul>
        <li><a href="#" routerLink="/dashboard">Dashboard</a></li>
        <li><a href="#" routerLink="/tugenden">Tugenden</a></li>
        <li><a href="#" routerLink="/dienste">Dienste</a></li>
        <li><a href="#" routerLink="/bonusprogramme">Bonusprogramme</a></li>
        <li>Username<a href="#" routerLink="/">Menü</a></li>
      </ul>
    </nav>
  </div>
</header>

  <div class="container">
    <router-outlet></router-outlet>
    <app-banner></app-banner>
  </div>

