<div class="box">
    <h2><strong>Meine angefragten Dienste</strong></h2>
    <a class="button is-info" (click)="changeFormat()">Informationen anzeigen</a>
    <div class="content">
        <div *ngFor="let dienst of angefragteDienste | async">
        <div class="section is-paddingless-horizontal container-grid" style="padding: 10px 0 10px 0;">
          <div class="notification media">
            <div class="media-content">
              <h3>{{dienst.name}}</h3>
              <div *ngIf= "isLongFormat()">
                <h4>{{dienst.beschreibung}}</h4>
                <h4>angefragt bei: <strong>{{dienst.tugendhafterName}}</strong>
                <br>
                für den: <strong>{{dienst.datum | date}}</strong></h4>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>