/*css*/

/*.content {
    max-height: 300px;
    min-height: 150px;
    overflow-y: scroll;
    margin: 10px 0 30px 0;
}*/

.outer {padding: 3px 3px 3px 3px; max-height: 350px; overflow-y: scroll;}

.button {
    margin-top: 10px;
}

.box {
    margin-bottom: 5px;
}