<h3>Meine angefragten Dienste</h3>
<table class='table'> 
    <thead>
        <tr> 
            <th>Dienstname</th>
            <th>Beschreibung</th>
            <th>auszuführen am:</th>
            <th>ausführen für:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dienst of angefragteDienste | async"> 
            <td>{{dienst.name}}</td> 
            <td>{{dienst.beschreibung}}</td>
            <td>{{dienst.datum | date}}</td> 
            <td>{{dienst.tugendhafterName}}</td>
        </tr>
    </tbody>
</table>
<br>
<br>