<div *ngFor="let bonusNachricht of bonusBenachrichtigungen | async">
    <div class="section" style="padding-top: 0;">
        <div class="message is-primary" >
            <div class="message-header">
                <p class="messageTitle">Neuer Bonus:</p>
            </div>
            <div class="message-body">
                <p>Du erhältst einen neuen <strong>Bonus {{bonusNachricht.titel_bonusprogramm}}</strong> für deinen Fleiß in der Kategorie <strong>"{{bonusNachricht.kategorieName}}"</strong>!</p>
                <p>{{bonusNachricht.nachricht}}</p>
                <button class="button is-warning" (click)="close(bonusNachricht.id_profitiert_von_bonusprogramm)">Juhu!</button>
            </div>
        </div>
    </div>
</div>
