.home {}
    
.homeContent { width: 100%; margin-top: 30px;}
        
.homeContent h2 { font-size: 1.5rem;}
        
.leftContent{width: 100%; margin-top: 30px;}
.leftContent img {
    max-width: 640px;
    max-height: 320px;
    border: 1px solid black;
     margin: 20px 0 0 0;
}

.leftContent, .rightContent {
    margin-bottom: 5px;
}
           
.leftContent p { width: 80%; }
.leftContent a { text-decoration: underline; color: black;}
        
.first{ margin-bottom: 50px; }

.message { width: 75%; word-break: normal;}
