.home {
    .homeContent { width: 100%;
        .leftContent{width: 60%;}
        .rightContent{width: 40%;}
        
        .homePicture{ width: 600px; height: 300px; border: 1px solid black; }
    }
}