<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Anmelden:</p>
      <button class="delete" aria-label="close" (click)="cancel()"></button>
    </header>
    <form [formGroup]="anmeldenForm" (ngSubmit)="login(anmeldenForm.value)">
      <section class="modal-card-body">
        <div class="field has-addons">
          <p class="control has-icons-left has-icons-right">
            <fa-icon class="icon" [icon]="userIcon"></fa-icon>
            <input id="benutzernameInput" class="input" type="text" placeholder="Benutzername" formControlName="benutzername">
          </p>
        </div>
        <div class="field has-addons">
          <p class="control has-icons-left">
            <fa-icon class="icon" [icon]="passwordIcon"></fa-icon>
            <input class="input passwortInput" [type]="fieldTextType ? 'text' : 'password'" type="password" placeholder="Passwort" formControlName="passwort">
          </p>
          <div class="control">
            <fa-icon class="button" [icon]="eyeIcon" (click)="togglePasswort()"></fa-icon>
        </div>
        </div>
        <div class="field has-text-danger">{{message}}</div>
      </section>

      <footer class="modal-card-foot">
        <div class="field">
          <p class="control">
            <button class="button is-success" type="submit">Login</button>
            <button class="button is-danger" type="reset" (click)="cancel()">Abbrechen</button>
          </p>
        </div>
      </footer>
    </form>
  </div>
</div>
    