<div class="anmeldung">
  <form [formGroup]="anmeldenForm"   (ngSubmit)="login(anmeldenForm.value)">
      <h2><strong>Anmelden</strong></h2>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input id="benutzernameInput" class="input" type="text" placeholder="Benutzername" formControlName="benutzername">
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input passwortInput" type="password" placeholder="Passwort" formControlName="passwort">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success" type="submit">
            Login
          </button>
        </p>
      </div>

      <div id='fehlermeldungAnmeldung' [hidden]="!fehler">
        <br>Angegebener der Benutzername oder das Passwort ist leider falsch!</div>
  </form>
</div>