<div class="box">
    <p class="title is-4">Erfüllte Tugenden</p>
    <div class="outer">
    <div class="content">
        <table class='table is-striped'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Wert</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tugend of erfuellteTugenden | async">
                    <td>{{tugend.name}}</td>
                    <td>{{tugend.wert}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
