<div class="box">
    <h2><strong>Erfüllte Tugenden</strong></h2>
    <div class="content">
        <table class='table is-striped'> 
            <thead>
                <tr> 
                    <th>Name</th>
                    <th>Wert</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tugend of erfuellteTugenden | async"> 
                    <td>{{tugend.name}}</td> 
                    <td>{{tugend.wert}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>